<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body ng-app="Portfolio">

    <header id="main-header">

      <div class="top-bar">
        <div class="row">
          <div class="large-12 columns">
            <span class="skills-link red">skills</span>
            <span class="portfolio-link orange">portfolio</span>
            <span class="social-link green">resume</span>
            <span class="blog-link blue">blog</span>
          </div>
        </div>
      </div>

    </header>

    <div class="main">
      <%= yield %>
    </div>

    <footer id="main-footer">
    </footer>

    <%= javascript_include_tag "application" %>

  </body>
</html>